<h1>Fill in the blanks to get change!</h1>
<form action='/money' method='get'>
  <div class="form-group">
    <label for="input">type amount of money you would like change for</label>
    <input id="input" name="input" class="form-control" type="text">
  </div>

  <button type="submit" class="btn">Show me the story!</button>
</form>
